#paineis-sobre {
	margin-top: 20px;
}

html,
body {
    height: 100%;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

header {
	background-image: url(../img/tartaruga-plastico.png);
	background-size: cover;
	background-position: top center;
	height: 100%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.top-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 80%;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.titulo-registros {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.contato-select,
.grupo-radio {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.grupo-radio .radio:first-child {
	margin-top: 0;
}

footer {
	background-color: rgb(0, 26, 65);
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {
	#paineis-sobre, #mar-extincao {
		margin-top: 0;	
	}
}

@media(min-width: 992px) {
	.top-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.top-bannerWrapper {
		position: relative;
		height: 100%;
	}
}
#logo {
    width: 100px;
    right: 100px;
    align-items: center;
}

.foca {
    border-radius: 100px;
}

#sobre-nos {
    background-color: rgb(253, 253, 253);
}
.jumbotron {

    background-color: #FFF;
}

.jumbotron-img {
    width: 30;
    right: 30%;
}


 